.chat-item:hover {
    background-color: rgba(0, 0, 0, 0.192);
    cursor: pointer;
}

.search-dropdown-item {
    background-color: #f8f9fa00;
}

.search-dropdown-item:hover {
    background-color: #f8f9fa00;
}

.search-dropdown-card {}

.search-dropdown-card:hover {
    background-color: #c7c7c7
}

.notify {
    visibility: hidden;
    transition: all 0.3s ease;
    bottom: 20px;
    left: 20px;
    z-index: 500;
    width: 70px;
    height: 140px;
    background-color: #898989;
    color: rgb(0, 0, 0);
    border-radius: 10px;
    overflow: hidden;
    font-size: 15px;
}

.transition {
    transition: all 0.3s ease;
    width: 300px;
    visibility: visible;
}