#side-bar-handler {
    min-width: 350px;
    max-width: 350px;
    transition: margin .5s;
    margin: 0 0 0 -350px;
    overflow-y: scroll;
    overflow-x: hidden;
}

#side-bar-handler.is-nav-open {
    margin-left: 0;
}

#open-chat-list {
    background-color: white;
}

#side-bar-handler::-webkit-scrollbar {
    width: 7px;
    visibility: hidden;
}

#side-bar-handler::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #0000002e;
    visibility: hidden;
}

#side-bar-handler:hover#side-bar-handler::-webkit-scrollbar-thumb {
    visibility: visible;
}

.settings-icon {
    background-color: white
}


html[data-theme="light"] #chat-cards {}

html[data-theme="dark"] #chat-cards {
    background-color: rgba(0, 0, 0, 0.9);
}

html[data-theme="dark"] .button-change-color {
    background-color: rgba(0, 0, 0, 0);
    color: white;
    border: none;
}

html[data-theme="dark"] .search-color-change {
    background-color: rgb(47, 47, 47);
    color: white;
}

@media screen and (max-width: 700px) {
    #side-bar-handler {
        min-width: 100%;
        margin-left: -100%;
    }

    #open-chat-list {}
}