.gradientSvazik{
    background-image: linear-gradient(90deg, #0078d4, #c218ec); 
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
    background-clip: text; 
    color: transparent;
}