/* .messages .justify-content-start{
        padding-right: 25%;
}
.messages .justify-content-end{
    padding-left: 25%;
} */

.message-handler {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 90vh;
    /* margin-right: 80px; */
}

.messages {
    overflow-x: hidden;
    overflow-y: scroll;
    max-height: 83vh;
    padding-right: 10%;
    margin-left: 10%;
}

.messages::-webkit-scrollbar{
    width: 7px;
    visibility: hidden;
}
html[data-theme="dark"] .messages::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #ffffff3a;
}
html[data-theme="light"] .messages::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #ffffffa7;
}

.message-input {
    height: 50px;
    width: 100%;
    padding-right: 10%;
    padding-left: 10%;
}

html[data-theme="light"] .message-input-control{

}

html[data-theme="dark"] .message-input-control{
    background-color: rgb(22, 22, 22)!important;
    color: rgb(231, 231, 231);
    border: none;
}

html[data-theme="dark"] .message-input-send{
    background-color: rgb(93, 0, 93);
    border: none;
}

html[data-theme="dark"] .message-handler-start{
    background-color: rgb(61, 61, 61);
    color: rgb(231, 231, 231)
}

html[data-theme="dark"] .message-handler-end{
    background-color: rgb(93, 0, 93);
    color: rgb(231, 231, 231)
}


.selected-message{
    background-color: rgba(49, 48, 48, 0.473);
}

.context-message{
    transition: all 0.3s ease;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    display: flex;
    align-items: center;
    width: 200px;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: stretch;
}
.context-menu-item{
    height: 40px;
}
.context-menu-item:hover{
    background-color: #a5a5a5;
}