/* Хедер */
html[data-theme="light"] .modal-settings-header {
}

html[data-theme="dark"] .modal-settings-header {
    background-color: rgb(0, 0, 0)!important;
    color: white!important;
    border: none;
}
/* Хедер */

/* Боди */
html[data-theme="light"] .modal-settings-body{

}

html[data-theme="dark"] .modal-settings-body{
    background-color: rgb(0, 0, 0)!important;
    color: white!important
}
/* Боди */

/* Футер */
html[data-theme="light"] .modal-settings-footer {
    display: flex;
    justify-content: space-around;
}

html[data-theme="dark"] .modal-settings-footer {
    display: flex;
    justify-content: space-around;
    background-color: rgb(0, 0, 0)!important;
    color: white!important;
    border: none;
}
/* Футер */